<section id="publications">
    <div class="container">
        {% for publication in site.publications %}
        <a href="{{ publication.url | prepend: site.baseurl }}" class="publications-item">
            <div>
                <img src="{{ publication.image }}">
                <h2>{{ publication.title }}</h2>
                <p>{{ publication.author}}</p>
                <p>
                    <!--
                        {% if publication.summary %}
                        {{ publication.summary }}
                        {% else %}
                        {{ publication.excerpt }}
                        {% endif %}
                        -->
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>