<section id="works">
    <div class="container">
        <div>
            <div>
                {% for work in site.works %}
                <div>
                    <h2><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></h2>
                    <p>{{ work.subhead}}</p>
                    <img src="{{ work.image }}">
                    <p>
                        {% if work.summary %}
                        {{ work.summary }}
                        {% else %}
                        {{ work.excerpt }}
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>